<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css" integrity="sha512-UrjLcAek5jbj1vwGbXkviPHtgSNVNQCedX7cBIMDdSI2iZtUcZcoTh2Sqc8R9mVcijOjFUi1IlxhfrE1uWaIog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>{{ .title }}</title>
  <style>
    .chatbox{
      outline: 1px solid silver;
      min-height: 160px;
      padding: 0.5em;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="mt-3">
          {{ .message }}
        </h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8">

        <h3>
          Chat
        </h3>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <input type="text" name="message" id="message" class="form-control" autocomplete="off">
        </div>
        <br>
        <a href="javascript:void(0);" class="btn btn-outline-secondary" id="sendBtn">Send Message</a>
        <input type="hidden" name="action" id="action" />
        <div id="status" class="mt-2 float-end"></div>
        <br>
        <hr>
        <div id="output" class="chatbox">

        </div>
      </div>
      <div class="col-md-4">
        <h3>
          Who's online
        </h3>
        <ul id="online_users">

        </ul>
      </div>
    </div>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.js" integrity="sha512-NHRCwRf2LnVSlLDejCA9oS3fG3/FLSQIPCjAWl3M7tVi5wszwr6FxkjotWnQDXLE+aLKcxRrzFDNEgXj9nvkPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/reconnecting-websocket.min.js" ></script>
<script>
  let socket = null;
  let o = document.getElementById("output");
  let userInput = document.getElementById("username");
  let messageInput = document.getElementById("message");

  window.onbeforeunload = function () {
    console.log("Leaving.")
    let jsonData = {
      action: "left",
    }
    socket.send(JSON.stringify(jsonData));
  };

  document.addEventListener("DOMContentLoaded", function(){
    socket = new ReconnectingWebSocket("ws://127.0.0.1:8081/ws", null, { debug: true, reconnectInterval: 3000 });
    // socket = new WebSocket("ws://127.0.0.1:8081/ws");
    
    const offline = `<span class="badge bg-danger">Not Connected</span>`;
    const online = `<span class="badge bg-success">Connected</span>`;
    let statusDiv = document.getElementById("status");

    socket.onopen = () => {
      console.log("Successfully connected");
      statusDiv.innerHTML = online;
    };
    
    socket.onclose = () => {
      console.log("Connection closed!");
      statusDiv.innerHTML = offline;
    }
    
    socket.onerror = (err) => {
      console.log("There was an error!", err);
    }  
    
    socket.onmessage = (msg) => {
      
      let data = JSON.parse(msg.data);
      console.log("Action is ", data.action);

      switch (data.action) {
        case "list_users":
          let ul = document.getElementById("online_users");
          while(ul.firstChild) ul.removeChild(ul.firstChild);
          if (data.connected_users !== null && data.connected_users.length > 0) {
            data.connected_users.forEach(element => {
              let li = document.createElement("li");
              li.appendChild(document.createTextNode(element));
              ul.appendChild(li);
            });
          }
          break;
        case "broadcast":
          o.innerHTML= o.innerHTML + data.message + "<br>";
          break;
        default:
          // console.log('default, nothing');
          break;
      }

    }

    userInput.addEventListener("change", function(){
      let jsonData = {
        action: "username",
        username: this.value,
      };
      socket.send(JSON.stringify(jsonData));
    });

    messageInput.addEventListener("keydown", function(){
      if (event.code === "Enter") {
        if (!socket){
          console.log("no connection");
          return false;
        }
        event.preventDefault();
        event.stopPropagation();
        sendMessage();
      }
    });

    document.getElementById("sendBtn").addEventListener("click", function(){
      sendMessage();      
    });
  });

  function sendMessage(){
    if (userInput.value === "" || messageInput.value === "") {
        errorMessage("fill out user and message");
        return false;
      } else {
        
        let jsonData = {
          action: "broadcast",
          username: userInput.value,
          message: messageInput.value,
        };
        socket.send(JSON.stringify(jsonData));
        messageInput.value = "";
      }
  }

  function errorMessage(message) {
    notie.alert({
      type: 'error',
      text: message,
    });
  }

</script>
</html>